
  .navbar.navbar-expand-md.fixed-top {
    background-color: $color-white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: $color-black;
    border-top: 5px solid #0078ae;

    .nav-link {
      color: #000;
      font-size: 1.5rem;
      margin-top: 1rem;
      padding-right: 1.3rem;
      font-weight: 600;

      &:hover {
        color: #0078ae;
      }
    }
}
