
  .circle {
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    position: relative;
    transition: transform .5s ease-in-out,opacity .5s, background-color .5s linear;
    margin-top: 8rem;

    &:hover {
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      background-color: rgba(123, 161, 50, .8);
    }

    &__link{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
        transform: rotate(50deg);

        &-green {
          border-left: 2px solid #7ba132;
        }

        &-orange {
          border-left: 2px solid #d47d12;
        }

        &-purple {
          border-left: 2px solid #85209e;
        }
    }

    &__shadow {
     width: 100%;
     height: 100%;
     transition: transform .3s ease-in-out,opacity .3s;
     border-radius: 100%;
     position: absolute;
     opacity: .2;
     -ms-transform: scale(.97);
     transform: scale(.97);
     z-index: -1;

      &-green{
        box-shadow: rgb(123, 161, 50) 15px 0px 15px;
      }
      &-orange{
        box-shadow: rgb(212, 125, 18) 15px 0px 15px;
      }
      &-purple{
        box-shadow: rgb(133, 32, 158) 15px 0px 15px;
      }
    }


  &__content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;



    &--icon {
      margin-top: 3.5rem;
      width: 8.5rem;
      height: 8.5rem;
      font-size: 8rem;

      &-green {
        color: #7ba132;
      }

      &-orange {
        color: #d47d12;
      }

      &-purple {
        color: #85209e;
      }

    }

    &--text {
      font-size: 3rem;
      font-weight: 600;
      width: 75%;
      padding-top: 4rem;

      &-green {
        color: #7ba132;
      }

      &-orange {
        color: #d47d12;
      }

      &-purple {
        color: #85209e;
      }
    }

  }

  &:hover &__content {
      color: #fff;
  }
}
